<%= attachment_image_tag user, :image, class: "img-circle inline-box", fallback: "users/no_image.png" %>
	<p>
    <h3 class="profile-name">
        <%= user.name %>さん
    </h3>
<%# @user ||= current_user %> 
	<div class="status">
		<div class="center">
		<a href="<%= following_user_path(user) %>"> 
			<strong id="following" class="status">
				<%= user.following.count %> 
			</strong>
			following
		</a>
		<a href="<%= followers_user_path(user) %>">
			<strong id="followers" class="status"> 
				<%= user.followers.count %>
			</strong>
			followers
		</a> 
	</div>
	</div>
	<br>
		<div class="introduction">
		<h4>自己紹介</h4>
	    	<%= user.introduction %>
	    </div>
	    <% if user_signed_in? %>
		<% if user.id == current_user.id %>
			<div class="buttons">
			<%= link_to "プロフィール編集", edit_user_path(user), class: "btn btn-success" %>
				    	<% else %>
    		 <%= render 'users/follow_form',user: user %>
    		</div>
    	<% end %>
    	<% end %>