<% if @timelines.any? %>
    <% @timelines.reverse_each do |portrait| %>
    <%= link_to portrait_path(portrait) do %>
    <div class="subtitle"> 
      <h3>
        <%= portrait.name %>について
      </h3>
    </div>
  <div class="pet-image">
    <%= attachment_image_tag portrait, :image, width:"70%", height:"100%", fallback: "pets/no_image.png"%>
  </div>
    <% end %>
    <h3>この子について</h3>
      <p>
        <%= portrait.more_about_me %>
      </p>
      <%= render 'bouquets/bouquet', portrait: portrait %>
            <% if portrait.user.id == current_user.id %>
      <div class="buttons">
            <%= link_to "編集", edit_portrait_path(portrait), class: "btn btn-success" %>
      </div>
        <% end %>
  　</div>
  <% end %>

<% end %>