   
      <div class="content-box">
         <div class="row content">
        <h2 class="form-header-title">プロフィール編集</h2>
          <div class="form-body">
              <%= form_for(@user) do |f| %>
              <div class="form-group has-icon">
                <label class="control-label sr-only" for="inputName">Name</label>
                   <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
                    <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
              </div>
              <div class="form-group has-icon">
                <div class="user-edit-image">
              </div>
            <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
                  <%= attachment_image_tag @user, :image, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
                      </div>
                      <label class="control-label sr-only">ProfileImage</label>
                        <%= f.attachment_field :image, direct: true, placeholder: "プロフィール画像", class: "user-edit-form" %>
                            </div>
                        <!-- クリック時にフィールドのnoneが解除され稼働する -->
                        <div id="img_field" onClick="$('#file').click()" >
                        <!-- javascript用にdisplay:noneでid:fileを隠しておく -->
                        <%= f.file_field :image, class: "image", style: "display:none;", id: "file"%>
                        </div>
                <div class="form-group has-icon">
                <label class="control-label sr-only" for="inputIntroduction">プロフィール</label>
                   <%= f.text_area :introduction, autofocus: true, class:"form-control",row:'5',id:"inputIntroduction", placeholder:"プロフィール"%>
              </div>
                              <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
              <% end %>
           </div>
      </div> 