<div class="content-box">
	<div class="topic">
		<div class="topic-title">
			<h2>〜ワスレナグサについて〜</h2>
		</div>
		<div class="subtitle">
			<h3>青く美しいワスレナグサには、<br>死者を悼む気持ちが込めらています</h3>
			<%= image_tag('flowers/forget-me-not.jpg', class: "cover", style: "width:90%;")%>
		</div>
		<div class="subtitle">
			<h3><i>ワスレナグサの伝説</i></h3>
		</div>
		<div class="topic-text">
			<h4>
				<i>
					<p>昔、ある騎士が、川辺に咲く青く美しい花を見つけ</p>
					<p>恋人のために摘もうとしました。</p>
					<p>しかし、その騎士は足を滑らせて川に落ちてしまいます。</p>
					<p>彼の騎士は、激しい川の流れに飲み込まれつつも、</p>
					<p>最後の力で摘んだ花を恋人に投げ渡しました。</p>
					<p>「僕を忘れないで」という言葉を残して消えてしまったそうです。</p>
					<p>恋人は、騎士の墓にその花を供え、</p>
					<p>彼が残した言葉をその花の名前にしたと伝えられています。</p>
				</i>
			</h4>
		</div>
	</div>
	<div class="topic">
		<div class="topic-title">
			<h2>このサイトの使い方</h2>
		</div>
			<hr>
			<div class="how-to-use">
				<div class="subtitle">
					<h3>①ペットとの思い出を作成して、<br>心の整理をする</h3>
				</div>
				<div class="how-to-use-image">
					<%= image_tag('icon/image1-1.png', class: "cover", style: "width:90%;")%>
				</div>
				<div class="how-to-use-image">
					<%= image_tag('icon/image1-2.png', class: "cover", style: "width:90%;")%>
				</div>
			</div>
				<hr>
			<div class="how-to-use">
				<div class="subtitle">
					<h3>②他の人思い出に献花をして、<br>悲しみを分かち合う</h3>
				</div>
				<div class="how-to-use-image">
					<%= image_tag('icon/image2-1.png', class: "cover", style: "width:90%;")%>
				</div>
				<div class="how-to-use-image">
					<%= image_tag('icon/image2-2.png', class: "cover", style: "width:90%;")%>
				</div>
				<hr>
			</div>
			<div class="how-to-use">
				<div class="subtitle">
					<h3>③命日等の特別な日の設定を行い、<br>供養のための準備をする</h3>
				</div>
				<div class="how-to-use-image">
					<%= image_tag('icon/image3-1.png', class: "cover", style: "width:90%;")%>
				</div>
				<div class="how-to-use-image">
					<%= image_tag('icon/image3-2.png', class: "cover", style: "width:90%;")%>
				</div>
			</div>
	</div>
