<section>
  <% @portraits.each do |portrait| %>
    <%= link_to portrait_path(portrait) do %>
      <%= attachment_image_tag portrait, :image %>
        <i class="fa fa-map-marker"></i>
          <%= portrait.name %>
            <% end %>
          <p><%= portrait.more_about_me %></p>
                  <ul class="inline-meta">
  <li>By
    <%= portrait.user.name %>
  </li>
  <li>
    <%= link_to "#{portrait.memories.count} 個の思い出", portrait_path(portrait.id) %>
  </li>
</ul>
    <% if portrait.user.id == current_user.id %>
      <div class="edit">
        <%= link_to "編集", edit_portrait_path(portrait), class: "btn btn-success" %>
        </div>
        <% end %>
            <% end %>
            <%= paginate @portraits, class: "paginate" %>
</section>