<div class ="row album">
  <h2>タイムライン</h2>
  <% @portraits.reverse_each do |portrait| %>
  <div class="row album">
  <div class="portrait-box">
    <%= link_to portrait_path(portrait) do %>
      <h2>
        <i class="fa fa-bell"></i>
        <%= portrait.name %>
      </h2>
      <%= attachment_image_tag portrait, :image, width: "90%" %>
    <% end %>
    <h3>僕について</h3>
      <p>
        <%= portrait.more_about_me %>
      </p>
      <%= render 'bouquets/bouquet', portrait: portrait %>
            <% if portrait.user.id == current_user.id %>
          <div class="edit">
            <%= link_to "編集", edit_portrait_path(portrait), class: "btn btn-success" %>
          </div>
        <% end %>
  </div>
  <div class="memories-list">
    <div class="ribbon6">
      <h2><%= link_to "#{portrait.name}との思い出", portrait_memories_path(portrait) %></h2>
    </div>
    <%= render 'memories/index', portrait: portrait %>
  </div>
</div>
  <% end %>
  <div class ="row">
    <%= paginate @portraits %>
  </div>
</div>

