<%= form_with model:@portrait do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.attachment_field :image%>
      <%= f.text_field :name, class:"form-control", placeholder:"名前" %>
      <%= f.text_area :more_about_me, class:"form-control", rows:"5", placeholder:"僕について" %>
    </div>
  </div>
  <hr>
  <%= f.submit "アルバムを作成", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
<% end %>