<div class="container">
  <div class ="row album">
    <div class="form-body">
      <div class="form-group has-icon">
        <div class="ribbon6">
      <h2><%= @portrait.name %>のアルバム</h2>
    </div>
    </div>
     <div class="col-xs-6 portrait-box">
      <%= attachment_image_tag @portrait, :image, width:"95%" %>
    </div>
    <div class="col-xs-5 portrait-box">
      <%= render 'portraits/table', portrait: @portrait %>
      <br>
          <% if @portrait.user.id == current_user.id %>
          <div class="edit">
            <%= link_to "編集", edit_portrait_path(@portrait), class: "btn btn-success" %>
          </div>
        <% end %>
    <%= render 'bouquets/bouquet', portrait: @portrait %>
    </div>
  </div>
 </div>
  <div class="row memories">
    <div class="col-xs-12 memories-list">
      <div class="title">
        <h2><%= @portrait.memories.count %> 個の思い出</h2>
      </div>
      <%= render 'memories/index', portrait: @portrait %>
    </div>
  </div>
  <hr>
  <div class="row new_memories">
    <div class="col-xs-12 memories-list">
      <div class="title">
        <h2>思い出を加える</h2>
      </div>
       <%= render 'memories/form', portrait:@portrait, memory: @memory%>
    </div>
  </div>
</div>