<h3>検索フォーム</h3>
<%= form_with(url: search_path, method: :get, local: true) do |f| %>
  <%= select_tag 'search[model]', options_for_select({"ペット名": "portrait_name","ペット種類": "portrait_species", "ユーザー名": "user","思い出": "memory"}) %>
  <%= select_tag 'search[how]', options_for_select({"部分一致": "partical"}) %>
  <!-- 部分一致以外で検索する場合 -->
  <%#= select_tag 'search[how]', options_for_select({"前方一致": "forward","完全一致": "match", "後方一致": "backward", "部分一致": "partical"}) %>
  <span class="glyphicon glyphicon-search"></span>
  <%= text_field_tag 'search[content]' %>
  <%= f.submit "検索" %>
<% end %>