<div class="content-box">
  <div class="row">

<h3><strong>「<%= @content %>」</strong>の検索結果</h3>
<hr>
      <div class ="paginate">
        <%= paginate @datas %>
      </div>
	<% if @model == 'user' %>
			<% if @datas.any? %>
				<% @datas.each do |data| %>
					<ul class="searched-box">
						<%= link_to user_path(data) do %>
							<%= attachment_image_tag data, :image, class: "img-circle pull-left inline-box", fallback: "no_image.jpg" %>
							<h3><%= data.name %></h3>
							<h4><%= data.introduction %></h4>
						<% end %>
						<% if data.id != current_user.id %>
							<%#= render "users/follow_form", user: data.id %>
						<% end %>
					</ul>
				<% end %>
				<hr>
			<% end %>
	<% elsif @model == 'portrait_name' %>
		<% if @datas.any? %>
				<% @datas.each do |data| %>
					<ul class="searched-box">
						<%= link_to portrait_path(data) do %>
							<%= attachment_image_tag data, :image, class: "img-circle pull-left inline-box", fallback: "no_image.jpg" %>
							<h3><%= data.name %></h3>
							<h4>種類：<%= data.species %></h4>
						<% end %>
					</ul>
				<% end %>
				<hr>
			<% end %>
	<% elsif @model == 'portrait_species' %>
		<% if @datas.any? %>
				<% @datas.each do |data| %>
					<ul class="searched-box">
						<%= link_to portrait_path(data) do %>
							<%= attachment_image_tag data, :image, class: "img-circle pull-left inline-box", fallback: "no_image.jpg" %>
							<h3><%= data.name %></h3>
							<h4>種類：<%= data.species %></h4>
						<% end %>
					</ul>
				<% end %>
				<hr>
			<% end %>
	<% else @model == 'memory' %>
		<% if @datas.any? %>
				<% @datas.each do |data| %>
					<ul class="searched-box">
						<%= link_to portrait_memory_path(data.portrait_id,data) do %>
							<%= attachment_image_tag data, :image, class: "img-circle pull-left inline-box", fallback: "no_image.jpg" %>
							<h3><%= data.title %></h3>
							<h4>いつの思い出？：<%= data.when %></h4>
						<% end %>
					</ul>
				<% end %>
				<hr>
			<% end %>

	<% end %>
	<div class ="paginate">
        <%= paginate @datas %>
    </div>
</div>
</div>