      <%= form_with model: [ portrait, memory ],local: true do |f| %>
          <div class="row">
            <div class="col-xs-6">
            <%= f.text_field :title, class:"form-control", placeholder:"思い出のタイトル" %>
            <%= f.attachment_field :image%>
            <%= f.text_field :when, class:"form-control", placeholder:"いつの思い出" %>
            <%= f.text_area :memory, class:"form-control", rows:"5", placeholder:"思い出を書いて！" %>
            </div>
          </div>
          <%= f.submit "思い出を作る！", class:"btn btn-primary" %>
        <% end %>