<div class="memory-index">
        <% portrait.memories.each do |memory| %>
        <%= link_to portrait_memory_path(portrait,memory) do %>
        <div class="memory-box">
          <div class="memory-title">
            <h4><%= memory.title %></h4>
          </div>
          <div class="memory-index-image">
          <%= attachment_image_tag memory, :image, width: "100%", fallback: "pets/cat.png"%>
          </div>
          <div class="memory-content">
            <div class="memory-text">
                <h5><%= memory.memory %></h5>
            </div>
              <div class="memory-when">
                <h4><%= memory.when %></h4>
              </div>
          <% end %>
      <% if portrait.user == current_user %>
        <%= render 'flowers/flowers', portrait: portrait, memory: memory %>
      <% end %>
          </div>
        </div>
        <% end %>
</div>