    <h2>
      <%= link_to "#{portrait.memories.count} 個の思い出", portrait_memories_path(portrait.id) %>
    </h2>
    <% portrait.memories.each do |memory| %>
      <%= link_to '#' do %>
      <div class="col-xs-4">
         <div class="memory-box">
        <table>
          <tbody>
          <tr>
            <td>
              <h3><%= memory.title %></h3>
            </td>
          </tr>
          <tr>
            <td>
            <%= attachment_image_tag memory, :image, :size => "130✖100" %>
            <%#= image_tag('koinu001.jpg', style: "width: 130px; height: 100px;") %>
            </td>
          </tr>
          <tr>
            <td>
              <h4><%= memory.when %></h4>
            </td>
          </tr>
          <tr>
            <td>
              <h5><%= memory.memory %></h5>
            </td>
          </tr>
          </tbody>
        </table>
</div>
      </div>
      <% end %>
      <% end %>
  </div>