<!-- top nav -->
    <nav>
      <%=link_to image_tag('logo.jpg', class: "cover", style: "height:200px;"),homes_top_path %>
        <ul>
              <% if user_signed_in? %>
      <li class="">
        <%= link_to "ワスレナグサについて", homes_about_path %>
      </li>
      <li class="">
        <%= link_to 'アルバム一覧', user_path(current_user.id) %>
      </li>
      <li class="">
        <%= link_to 'アルバムを作る', new_portrait_path %>
      </li>
      <li class="">
        <%= link_to 'タイムライン', timelines_user_path(current_user.id) %>
      </li>
      <li class="">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li class="">
        <%= link_to "ワスレナグサについて", homes_about_path %>
      </li>
      <li class="">
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li class="">
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
            </ul>
        </div>
        </ul>
    </nav>
