<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <meta charset="utf-8">
    <title>forget-me-not</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script src="https://kit.fontawesome.com/696371b99a.js" crossorigin="anonymous"></script>
  </head>
  <body>
<header>
      <%= render 'layouts/header' %>
</header>
     <div class="content-wrapper">
      <article>
        <aside>
         <%= render 'layouts/sidebar'%>
       </aside>
     </article>
        <main>
          <section>
          <%#= render partial: 'layouts/flash', flash: flash %>
              <%= yield %>
        </section>
      </main>
      </div>
      <footer>

          <%= render 'layouts/footer' %>

      </footer>
  </body>
</html>
