<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <meta charset="utf-8">
    <title>forget-me-not</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link rel="stylesheet" href="https://andybrewer.github.io/mvp/mvp.css">
    <script src="https://kit.fontawesome.com/696371b99a.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="header-wrapper">
          <div class="header-box-wrapper">
              <div class="header-content">
                  <%= render 'layouts/header' %>
              </div>
          </div>
      </div>
      <div class="content-wrapper">
        <div class="main-content">
          <%#= render partial: 'layouts/flash', flash: flash %>
              <%= yield %>
        </div>
<!--         <div class="side-bar-content ">
          <%= render 'layouts/sidebar' %>
        </div>
 -->      </div>
      <div class="footer">
          <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
